<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>How To Make A Brew Using Async Await | Kieran Brown</title>
    <meta
      name="description"
      content="Example of how to use async await in the context of how to make a brew."
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=PT+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2280%22>☕</text></svg>"
    />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    {% block content %}{% endblock %}

    <script src="js/how-to-make-a-brew.js"></script>
  </body>
</html>
